.login {
    width: 410px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login h2 {
    padding: 0 0 20px;
    border-bottom: 2px solid black;
    text-align: center;
    line-height: 1;
    font-size: 33px;
    color: black;
}

.login>ul {
    padding: 40px 0 33px;
}

.login>ul li {
    padding: 0 0 12px;
    text-align: left;
}

.login>ul li input {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    text-indent: 16px;
}

.login>ul li input::-webkit-input-placeholder {
    font-size: 16px;
    color: #9fa19f;
    text-indent: 16px;
}

.login>ul li input[type="checkbox"] {
    position: absolute;
    left: -3000px;
}

.login>ul li input[type="checkbox"]:checked+label {
    color: purple;
    font-weight: bold;
}

.login>ul li input[type="checkbox"]+label {
    height: 36px;
    line-height: 36px;
}

.login>ul li input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: -5px;
    width: 18px;
    height: 18px;
    border: 1px solid #333;
    background: #fff;
}

.login .on {
    font-size: 18px;
}

.login button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background: black;
}

.login div {
    padding: 0 0 45px;
}

.login div ul {
    display: flex;
    justify-content: center;
}

.login div ul li {
    position: relative;
    padding: 0 18px;
}

.login div ul li a {
    font-size: 14px;
    color: #111;
}


